@use 'sass:map';
@use 'sass:color';

$_palettes: ();
@mixin newPalette($palette, $colors) {
	$_palettes: map.merge($_palettes, ($palette: $colors)) !global;
}

@import '../color-palettes/_index';


@function getPaletteColor($palette, $color, $alpha: 1) {
	$pal: map.get($_palettes, $palette);

	@return color.change(map.get($pal, ''+$color), $alpha: $alpha);
}

$theme-dark: (
	'back': getPaletteColor('grey', 90),
	'mid': getPaletteColor('grey', 70),
	'front': getPaletteColor('grey', 60)
);

$theme-light: (
	'back': getPaletteColor('grey', 30),
	'mid': getPaletteColor('grey', 10),
	'front': getPaletteColor('white', 100)
);
