@use 'sass:map';
@use 'sass:color';

$_palettes: ();
@mixin newPalette($palette, $colors) {
	$_palettes: map.merge($_palettes, ($palette: $colors)) !global;
}

@import '../color-palettes/_index';

@function getPaletteColor($palette, $color, $alpha: 1) {
	$pal: map.get($_palettes, $palette);

	@return color.change(map.get($pal, ''+$color), $alpha: $alpha);
}


$_themes: ();
@mixin newTheme($name, $colors) {
	$_themes: map.merge($_themes, ($name: $colors)) !global;
}

@import '../themes/_index';

@function getThemeColor($name, $field, $alpha: 1) {
	$col: map.get($_themes, $name);

	@return color.change(map.get($col, $field), $alpha: $alpha);
}
