<!-- Default -->
	<button type="button" class="photon-button">
		Button
	</button>

	<button type="button" class="photon-button disabled">
		Button
	</button>

	<button type="button" class="photon-button micro">
		Button
	</button>

	<button type="button" class="photon-button micro disabled">
		Button
	</button>

	<button type="button" class="photon-button puffy">
		Button
	</button>

	<button type="button" class="photon-button puffy disabled">
		Button
	</button>
<!-- /Default -->

<!-- Primary -->
	<button type="button" class="photon-button primary">
		Button
	</button>

	<button type="button" class="photon-button primary disabled">
		Button
	</button>

	<button type="button" class="photon-button primary micro">
		Button
	</button>

	<button type="button" class="photon-button primary micro disabled">
		Button
	</button>

	<button type="button" class="photon-button primary puffy">
		Button
	</button>

	<button type="button" class="photon-button primary puffy disabled">
		Button
	</button>
<!-- /Primary -->
